# Lines beginning with a '#' are ignored.
# Inline comments are not supported.

# modname [channel]
#
# modname
#
# The mod name must match the project page url. E.g., the JEI mod's project
# url looks like:
#
#   https://minecraft.curseforge.com/project/jei
#
# so the mod line should be 'jei'.
#
# [channel]
#
# channel can be 'alpha', 'beta', 'release' or a comman separated list of any
# of those three. The order of these elements does not matter. The later of
# any of the elements will be installed.
#
# E.g., 'release,beta' and 'beta,release' will install whichever channel has
# the most recent file.
#
# Additionally, 'any' is the same as 'release,beta,alpha' and 'keep' will not
# change the current mod version.
#
# If [channel] is not set, 'release' is the default setting.

#jei

# is the same as

#jei release
